.row
  .col-lg-4
    .form-horizontal
      = form_for @product, url: url, :html => { role: 'form'} do |f|
        - if @product.errors.any?
          #error_explanation
            %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
            %ul
              - @product.errors.full_messages.each do |msg|
                %li= msg
        .form-group
          = f.label 'Nombre'
          = f.text_field :name, class: 'form-control'
        .form-group
          = f.label 'Descripción'
          = f.text_area :description, class: 'form-control'
        .form-group
          = f.label 'Imagen'
          = f.text_field :picture, class: 'form-control'
        .form-group
          = f.label 'Precio'
          = f.text_field :price, class: 'form-control'
        .form-group
          = f.label 'Cantidad'
          = f.number_field :quantity, class: 'form-control'
        = f.submit 'Guardar', class: 'btn btn-default'
    %br
    %br
